footer {
	background: $lightBackground;
	padding: 25px 30px;
	position: relative;
	width: 100%;

	@include respond-to(wide-screen) {
		padding: 25px 65px;
	}

	@include respond-to(small-screen) {
		padding: 10px 15px;
		padding-bottom: 50px;
	}

	.nav {
		font-size: 16px;
		margin-top: 15px;

		@include respond-to(wide-screen) {
			margin-top: 0;
			position: absolute;
			right: 65px;
			top: 20px;
			width: 100%;
		}
	}

	p {
		color: $highlightedTextColor;
		display: inline-block;
		font-size: 14px;
		line-height: 30px;
		margin: 0;

		img {
			@include respond-to(small-screen) {
				display: none;
			}

			display: inline-block;
			margin-right: 15px;
		}
	}

	ul {
		
		@include respond-to(wide-screen) {
			position: absolute;
			right: 0;
			top: 0;
		}

		li {
			display: inline-block;
			line-height: 30px;
			padding-left: 25px;

			@include respond-to(medium-screen) {
				padding-left: 15px;
			}

			&:first-child {
				padding-left: 0;
			}
		}
	}
}
